In [2]:
from keras.models import load_model
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Load the model
loaded_model = load_model("loan_model.keras")

In [5]:
sc = MinMaxScaler()

x = pd.read_csv('test.csv')
x.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,3.0,7534,0.0,120000,240.0,1.0,False,True,False,False,False,True,True,True,False,True,True
1,0.0,4378,4096.0,204606,120.0,1.0,False,True,False,True,True,False,True,False,True,False,True
2,1.0,4583,4196.0,144107,360.0,0.0,True,True,False,False,False,False,False,True,False,True,True
3,3.0,8283,6952.0,128000,360.0,1.0,False,True,False,True,True,False,False,False,False,True,True
4,1.0,5078,4173.0,161148,360.0,1.0,False,True,True,False,True,True,True,False,False,False,False

In [7]:
x_test = sc.fit_transform(x)
y_pred = loaded_model.predict(x_test)
y_pred = (y_pred> 0.5)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 145ms/step

In [8]:
y_pred

array([[ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True]])

In [9]:
val = pd.DataFrame(y_pred, columns=['status'])
val = val.replace({True: "Approved", False: "Rejected"})
val

      status
0   Approved
1   Rejected
2   Rejected
3   Rejected
4   Rejected
5   Rejected
6   Approved
7   Rejected
8   Approved
9   Rejected
10  Rejected
11  Approved
12  Rejected
13  Rejected
14  Approved